header {
    padding-top:32px;
    padding-bottom:8px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1024px;
    margin:0 auto;
}

.logo {
    color: var(--white);
    margin:0; 
    font-size: 16px;
}

.logo-image {
    width:16px;
    height 16px;
    margin-right:5.5px;
}

.nav-list {
    display: flex;
    list-style:none;
    margin:0;
    padding:0;
}

.nav-item {
    margin: 0 16px;
}

.nav-link {
    color: var(--gray);
    text-decoration: none;
}

.nav-link[href="index.html"] {
    color: var(--white);
}

.nav-link::before {
    content: '#';
    color: var(--primary);
    margin-right:1px;
}

.logo-wrapper {
    display:flex;
    align-items:center;
}

.main-container {
    max-width: 1024px;
    margin:0 auto;
}

.hero {
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap: 18px;
    margin-top: 32px;

}

.portfolio-image {
    width: 100%;
    height: auto;
}

.hero-content h2 {
    font-size: 32px;
    color: var(--white);
}

.hero-content span {
    color: var(--primary);
}

.hero-content p {
    font-size: 16px;
    color: var(--gray);
    margin-bottom: 24px;
}

.contact-button {
    background-color: transparent;
    border: 1px solid var(--primary);
    color: var(--white);
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-button:hover {
    background-color: var(--primary);
}

/* .hero-image {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.hero-image-text {
    color: var(--gray);
    font-size: 16px;
    margin: 0;
}

.hero-image-text span {
    color: var(--white);
}

.purple-box {
    width: 16px;
    height: 16px;
    background-color: var(--primary);
}

.hero-image-text-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--gray);
    padding: 10px 8px;
}